# Primitive Data types


- Number
    - int
    - float
    - complex
- string
- Boolean
- None

# Numbers

In [3]:
# int 
age = 30
# float
price= 10.2
# complex
complex_number = 1 + 2j

In [8]:
price = 5 # int
print(price)
distance = 10.2 #float
complex_number = 1 + 2j # complex

print(type(price))

5
<class 'int'>

### Arithematic Operation

In [16]:
# add
a=11
b=18
sum_of_ab = a+b
print(sum)

#sub
print(a-b)
print(a*b)
# division
print( a/b)
# floor division
print(a//b)
# modulo (modulus) operator (return the remainder)
rem_a_b= a%b
print(rem_a_b)

# power
total_ram_size = a**b
print(total_ram_size)

29
-7
198
0.6111111111111112
0
11
5559917313492231481

### String in Python

##### Collection of Characters

In [ ]:
name = 'Sandhya Mainali'
total_num = len(name)
print(total_num)
print(name)


first= name[0]
print(first)
last=name[-1]
print(last)

first_name=name[0:7]
last_name=name[8:15]
print(first_name)
print(last_name)

# Concatenation
full_name= first_name + ' '+ last_name
print(full_name)
print(full_name.upper())
print(full_name.lower())



full_name= f"{first_name} {last_name}"
print(full_name)


name1= 'sita'
print(name1.capitalize())

#check if string exists in another string
find_name=name.find("Parbati") #return -1 if not found 
print(find_name)
print(name.find('Parbati'))# both of them doesn't exist because the value is different


find_name=name.find('sandhya')
print(find_name)
print(name.capitalize().find("Sandhya"))


#convert string to list
all_chars=name.split()
print(all_chars)
#remove first and last space
print(" My name is Sandhya".strip())

#python multi line string (para) start with ''' and end with '''
para= '''Line 1
line 2
line 3

'''
print(para)

15
Sandhya Mainali
S
i
Sandhya
Mainali
Sandhya Mainali
SANDHYA MAINALI
sandhya mainali
Sandhya Mainali
Sita
-1
-1
-1
0
['Sandhya', 'Mainali']
My name is Sandhya
Line 1
line 2
line3