## Grouping & Aggregrate
- grouping consist of three operations
    - split
    - Apply
    - Combine

In [6]:
import pandas as pd
students= pd.read_csv('data\student-dataset.csv')
#group data based on gende
gender_data= students.groupby('gender')
display(gender_data.count())

gender_data['english.grade'].mean()

display(gender_data['math.grade'].mean())
group_nationality=students.groupby('nationality')
display(group_nationality['math.grade'].mean())

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\sandh\AppData\Local\Temp\ipykernel_11660\1886329338.py:2: SyntaxWarning: invalid escape sequence '\s'
  students= pd.read_csv('data\student-dataset.csv')

,id,name,nationality,city,latitude,longitude,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
gender,,,,,,,,,,,,,,,
F,152,152,152,152,152,152,0,152,152,152,152,152,152,152,152
M,151,151,151,151,151,151,0,151,151,151,151,151,151,151,151
other,4,4,4,4,4,4,0,4,4,4,4,4,4,4,4

gender
F        3.394079
M        3.435099
other    3.400000
Name: math.grade, dtype: float64

nationality
Bangladesh                  3.900000
Brazil                      3.377778
Canada                      3.014286
Chile                       3.700000
China                       3.784615
Colombia                    3.580000
Cuba                        2.800000
Dominican Republic          3.800000
Egypt                       3.500000
El Salvador                 2.900000
Germany                     3.500000
India                       3.275000
Japan                       3.538462
Korea (Republic of)         3.066667
Mexico                      3.387500
Morocco                     3.600000
Myanmar                     3.400000
Netherlands                 3.500000
Nicaragua                   3.700000
Pakistan                    2.933333
Peru                        3.100000
Philippines                 3.600000
Poland                      3.800000
Russian Federation          3.383333
Spain                       3.750000
Thailand                    3.900000
Tunisia                     3.100000
Turkey                      2.700000
Ukraine                     3.300000
United Kingdom              3.150000
United States of America    3.417098
Name: math.grade, dtype: float64

import pandas as